<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="header">
	<img class="logo" src="{% static "transparentSOE.png" %}" alt="Santa Clara University">
</div>

<div class="button-cont" id="container">
<button class="button button1" onclick="window.location.href = 'http://ec2-54-241-188-56.us-west-1.compute.amazonaws.com:8080/admin/login/?next=/admin/';">Administrator Login</button>
<button class="button button2" onclick="window.location.href = 'http://ec2-54-241-188-56.us-west-1.compute.amazonaws.com:8080/accounts/login/';">Judge Login</button>
</div>
</body>
</html>
